<html>
  <head>
    <link rel="stylesheet" href="../css/location_list_styles.css"></link>
    <script type="text/javascript" src="../js/location_examples.js"></script>
    <script type="text/javascript" src="../js/location_list_utils.js"></script>
  </head>
  <body>
    <h3>Location Block Example</h3>
    <div class="location-block">
      <div>
        <span class="contact-detail location-name">Location Name</span>
        <span class="contact-detail">123 Street Name Ave.</span>
        <span class="contact-detail">City, State 012345</span>
        <span class="contact-detail">(123) 456-7890</span>
      </div>
      <div>
        <div class="directions">
          <span>1.2 mi</span>
          <a class="navigate-button" href="https://maps.google.com" target="_blank">Navigate</a>
        </div>
      </div>
    </div>
    <h3>Static Location List Example</h3>
    <div id="locationList"></div>
    <script type="text/javascript">
      function renderLocationExamples() {
        return renderLocationList(locations.locations)
      }
      window.onload = renderLocationExamples;
    </script>
  </body>
</html>
