#locationsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#pac-input {
  height: 45px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

#locationMap {
  margin-bottom: 10px;
}

.width-sync {
  width: 640px;
}

.height-sync {
  height: 480px;
}
